{% extends "base.html" %} 
{% block content %}
    <h2 id="title" class="mt-2">Track Your Album Collection</h2>
    <form method="POST" class="card bg-blur p-3 mt-3">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            {% for field in form %} 
                {% if (field.type != 'SubmitField') and (field.type != 'CSRFTokenField') %}
                <div class="form-group">
                    {{ field.label(class="form-control-label") }} 
                        {% if field.errors %} 
                            {{ field(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} 
                            {{ field(class="form-control form-control-lg") }} 
                        {% endif %}
                </div>
                {% endif %} 
            {% endfor %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    {% if results %} 
        <h4 class="mt-3">Currently Viewing Search Results</h4>
        <div class="albums">
            {% for album in results %}
                <div class="mb-3">
                    <img src="{{ album['img_src'] }}" class="mb-2"/>
                    <p class="mb-2">{{album['name']}}</p>
                    <p class="mb-2"> {{album['artist']}}</p>
                    <a href="/album_info/{{ album['id'] }}"><button class="btn btn-primary">View More info</button></a>
                    <a href="/add-to-collection/{{ album['id'] }}"><button class="btn btn-primary">Add To Collection</button></a>
                </div>
            {% endfor %} 
        </div>
        
    {% elif collection %}
        <h4 class="mt-3">Currently Viewing Your Collection</h4>
        <div class="albums">
            {% for album in collection %}
                <div class="mb-3">
                    <img src="{{ album['album_img_src'] }}" class="mb-2"/>
                    <p class="mb-2">{{album['album_name']}}</p>
                    <p class="mb-2">{{album['artist_name']}}</p>
                    <a href="/album_info/{{ album['album_id'] }}"><button class="btn btn-primary">View More info</button></a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
