{% extends "base.html" %}

{% block content %}
    <h2 class="mt-2">Account Login</h2>
    <form method="POST" class="card bg-blur p-3 mt-3 mb-4">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            {% for field in form %}
                {% if (field.type != 'SubmitField') and (field.type != 'CSRFTokenField') %}
                    <div class="form-group">
                        {{ field.label(class="form-control-label") }}
                        {% if field.errors %}
                            {{ field(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ field(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>
    
{% endblock %}