body {
  min-height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

  /* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.album-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.albums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.track {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 2em; /* top row is 2em in height */
  grid-auto-rows: 3em; /* following rows are 3em in height */
}

.track-header {
  height: 2em;
}

.track-number {
  justify-self: center;
}

.track-name {
  justify-self: start;
}


 
